# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database & Local Data
market_data.db
market_data.db-shm
market_data.db-wal
__pycache__/
.trae/
.pytest_cache/
backend/app/db/*.db
*.db

